 * Provides print styling for Hiroshige.
 */

/* @group HTML Elements */
body {
    background: #fff;
    color: #000;
    margin: 2cm;
    font: 12pt/1.5 Times, 'Times New Roman', serif;
}

a:link, a:visited {
    color: #000;
    text-decoration: underline;
}

blockquote, q {
    border-left: 1pt solid #000;
    border-right: 1pt solid #000;
    color: #000;
    margin: 1em 2em;
    padding: 0 1em;
    font-style: italic;
}

blockquote p+p, q p+p {
    margin: 0;
    padding-top: 1em;
}

blockquote cite, q cite {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;
}

del { text-decoration: line-through; }

dd {
    font-style: italic;
    margin-left: 1em;
}

dl { padding: 0.5em 1em; }

dt {
    font-weight: bold;
    font-style: italic;
}

ins {
    font-style: normal;
    text-decoration: none;
}

li { margin-left:30px; }

ol {
    display: block;
    list-style-position: outside;
    list-style-type: decimal;
    margin: 0 1em 1em 1em;
}

ol li, ol li ol li, ul li, ul li ul li { display: list-item; }

ol li ol {
    list-style-type: lower-alpha;
    margin: 0;
}

small { font-size: 90%; }

ul {
    display: block;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 1em 1em 1em;
}

ul li ul {
    list-style-type: circle;
    margin: 0;
}

/* @end */


/* @group Page Structure */

#header-band {
	border-bottom: 1pt solid #000;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

#header { width: 100%; }

#title-wrapper h1 {
	display: inline;
    font-size: 24pt;
    line-height: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
}

#title-wrapper h1 a:link,
#title-wrapper h1 a:visited {
    color: #000;
    text-decoration: none;
}

#site-slogan {
    color: #000;
    font-size: 90%;
    font-style: italic;
    margin: 0;
}

#page-content { 
    float: none !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

#footer-band {
	border-top: 1pt solid #000;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

#footer {
    font-size: 85%;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: right;
}

.clear-block {
    clear: both !important;
}

/* @end */


/* @group Nodes */

div.headline h2, h2#page-title {
    display: inline;
    font-size: 21pt;
    margin: 0;
    padding: 0;
}

div.headline h2 a:link,
div.headline h2 a:visited {
    color: #000;
    text-decoration: none;	
}

.node-author {
    color: #000;
    display: block;
    font-size: 10pt;
    font-style: italic;
    line-height: 85%;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    text-align: left;
}

div.node+div.node {
    margin-top: 18pt !important;
}

div.content a:link:after, div.content a:visited:after {
    color: #000;
    content: " (" attr(href) ") ";
    font-size: 90%;
    text-decoration: underline;
}

div.node-author a:link, div.node-author a:visited {
    text-decoration: none;
}

div.node-author a:link:after, div.node-author a:visited:after {
    content: "" "";
    text-decoration: none;
}

/* @end */


/* @group General Content Styles */
.pull-quote-left, .pull-quote-right, .pull-quote-center {
    border: 0;
    border-top: 2pt solid #000;
    border-bottom: 2pt solid #000;
    color: #000;
    font-size: 150%;
    font-style: normal;
    font-weight: normal;
    margin: 12pt 0;
    padding: 12pt 0;
    text-align: center;
    width: 33%;
}

.pull-quote-left p, .pull-quote-right p, .pull-quote-center p {
    margin: 0;
    padding: 0;
}

.pull-quote-center {
    display: block;
    margin: 12pt 0;
    width: 100%;
}

.pull-quote-right {
    float: right;
    margin-left: 12pt;
}

.pull-quote-left {
    float: left;
    margin-right: 12pt;
}

img.float-left {
    float: left;
    margin: 0 12pt 12pt 0;
}

img.float-right {
    float: right;
    margin: 0 0 12pt 12pt;
}

/* @end */


/* @group Hidden Elements */
form, span.readmore, ul.pager, #search-top, #navigation-band, #sub-header-band, #sidebar-left,
#sidebar-right, #bottom-bar, #comments, #bottom-bar-band, div.meta,
div.breadcrumb, #tabs-wrapper, img.user-picture {
    display: none !important;
}

#header a img {
	display: none !important;
}

div.content > div.node-author + a {
	display: none !important;
}

/* @end */

