 *
 * @file style.css
 * Hiroshige for Drupal 6.x
 */

/* @group HTML Elements */
body {
    background-color: #1f3e64;
}
a:link, a:visited {
    color: #36c;
    text-decoration: none;
}

a:hover {
    color: #ba1704;
    text-decoration: underline;
}

blockquote, q {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #777;
    margin: 1em 2em;
    padding: 0 1em;
    font-style: italic;
}

blockquote { clear: both; }

blockquote p+p, q p+p {
    margin: 0;
    padding-top: 10px;
}

blockquote cite, q cite {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 0;
    text-align: right;
}

del {
    background-color: #fffbcc;
    color: #555;
    font-style: normal;
}

dd {
    font-style: italic;
    margin-left: 1em;
}

dl { padding: 0.5em 1em; }

dt {
    font-weight: bold;
    font-style: italic;
}

ins {
    background-color: #fffbcc;
    font-style: normal;
    text-decoration: none;
}

ol {
    display: block;
    list-style-position: outside;
    list-style-type: decimal;
    margin: 0 1em 1em 1em;
}

ol li, ol li ol li, ul li, ul li ul li { display: list-item; }

ol li ol {
    list-style-type: lower-alpha;
    margin: 0;
}

small { font-size: 90%; }

td {
    vertical-align: top;
    padding: 0px 5px;
}

ul li ul {
    list-style-type: circle;
    margin: 0;
}

ul {
    display: block;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 1em 1em 1em;
}
/* @end */

/* @group Form Styling */
fieldset {
    border: 1px solid #a8a095;
    padding: 10px;
}

legend {
    font-weight: bold;
    padding: 0 0.25em;
    background-color: #fff3e1;
}

input {
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 0;
    padding: 2px 4px;
}

input.form-submit { background-color: #eee; }

input.form-submit:hover, 
input.form-submit:focus {
    background-color: #ccc;
    border-color: #555;
}
/* @end */

/* @group General Content Styles */
.align-left { text-align: left }

.align-right { text-align: right }

.even { background-color: #fff; }

.navigation {
    display: block;
    padding-bottom: 2em;
    margin-top: 0.5em;
}

.odd { background-color: #eee; }

.pull-quote-left, .pull-quote-right, .pull-quote-center {
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #aaa;
    font-size: 125%;
    font-style: normal;
    font-weight: normal;
    margin: 1em 0;
    padding: 10px 0;
    text-align: center;
    width: 33%;
}

.pull-quote-left p, .pull-quote-right p, .pull-quote-center p {
    margin: 0;
    padding: 0;
}

.pull-quote-center {
    display: block;
    margin: 1em 0;
    width: 100%;
}

.pull-quote-right {
    float: right;
    margin-left: 1em;
}

.pull-quote-left {
    float: left;
    margin-right: 1em;
}

.reference { font-size: 85%; }

h2#page-title {
    display: block;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

img.float-left {
    float: left;
    margin: 0 10px 10px 0;
}

img.float-right {
    float: right;
    margin: 0 0 10px 10px;
}


div#content-wrapper a:hover {
    color: #ba1704;
    text-decoration: none;
    background: transparent url('images/ink-line-red.png') bottom right repeat-x;
}

h2.inkline {
    background: transparent url('images/ink-line.png') bottom repeat-x;
}
/* @end */

/* @group Page Structure */


#header-band {
    background: #1f3e64 url('images/stroke-dark-over-light.png') bottom repeat-x;
    color: #fff;
    padding: 1em 2em 0.5em 2em;
}

#sub-header-band {
    background-color: #599cc9;
    padding: 0 2em;
}

#navigation-band {
    background: #1f3e64 url('images/stroke-light-over-dark.png') repeat-x;
    padding: 11px 2em 0 2em;
}

#page-content-band {
    background: #fff3e1 url('images/stroke-dark-over-white.png') repeat-x;
    padding: 1em 2em;
}

#sub-header {
    height: 118px;
    margin: 0;
    padding: 0;
    background-image: url('images/header-image.png');
}

#bottom-bar-band {
    background: #599cc9 url('images/stroke-white-over-light.png') repeat-x;
    padding: 22px 2em 0 2em;
}

#footer-band {
    background: #1f3e64 url('images/stroke-light-over-dark.png') repeat-x;
    padding: 11px 2em 0 2em;
}

#edit-search-theme-form-1 {
    background: #fff3e1 url('images/search.png') no-repeat 2px 2px;
    padding-left: 20px;
}
/* @end */

/* @group Page Header */
#header { padding: 5px 0 5px 0; color: #fff3e1; }

#logo {
    float: left;
    padding: 0px 5px 5px 0px;
}

#title-wrapper {
    float: left;
}

#header-band #header #title-wrapper h1 {
    display: block;
    font-size: 2.25em;
    line-height: 1em;
    margin: 0 0 10px 0;
    padding: 0;
    vertical-align: middle;
}

#header-band #header #title-wrapper h1 a {
    font-weight: normal;
    font-style: normal;
}

#header-band #header #title-wrapper h1 a:link,
#header-band #header #title-wrapper h1 a:hover,
#header-band #header #title-wrapper h1 a:visited {
    color: #fff3e1;
    text-decoration: none;
}

div#search-top {
    float: right;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}

#search-top #search-form #s {
    color: #ccc;
    font-size: 0.9em;
    padding: 2px 4px;
    width: 135px;
    margin: 0;
}

#search-top #search-form #search-submit { background-color: #eee; }

#search-top #search-form #search-submit:hover, 
#search-top #search-form #search-submit:focus {
    background-color: #ccc;
    border-color: #555;
}

#search-theme-form, 
#search-theme-form div { display: inline; }

div#edit-search-theme-form-1-wrapper label { display: none; }

#site-slogan {
    color: #fff3e1;
    font-size: 90%;
    margin: -0.5em 0 0.25em 0;
}

#nav-photo {
    background: #eee none no-repeat;
    height: 118px;
    margin: 4px 10px 4px 10px;
}
/* @end */

/* @group Header Navugation */
#primary-links {

}

#primary-links ul#topLinks {
    margin: 0;
    padding: 0;
}

#primary-links ul#topLinks li {
    display: inline;
    line-height: 1.8em;
}

#primary-links ul#topLinks li a:link, 
#primary-links ul#topLinks li a:hover, 
#primary-links ul#topLinks li a:visited {
    color: #599cc9;
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding-left: 20px;
    padding-right: 6px;
    text-decoration: none;
    font-variant: small-caps;
    background: transparent url('images/nav-divider.png') center left no-repeat;
}

#primary-links ul#topLinks li a:hover {
    color: #fff3e1;
}

#primary-links ul#topLinks li.active a,
#primary-links ul#topLinks li.active a.active,
#primary-links ul#topLinks li a.active-trail {
    color: #fff3e1;
}

#primary-links ul#topLinks li.active a,
#primary-links ul#topLinks li a.active-trail {
 }

#primary-links ul#topLinks li.active a:hover {
    color: #fff3e1;
}

#primary-links ul#topLinks li.current_page_item a {
    color: #fff3e1;
}

#primary-links ul#topLinks li.first a {
    padding-left: 0;
    background: transparent;
}

/* @end */

/* @group Pager Styles */
ul.pager { margin: 3em 2em 1em 2em; }

ul.pager li {
    margin: 0;
    padding: 0;
    font-size: 115%;
}

ul.pager li a {
    padding: 2px 5px;
    color: #36c;
    
}

ul.pager li a:hover {
    padding: 2px 5px;
    background: #a8a095 none;
    text-decoration: none;
}

ul.pager li.pager-current {
    padding: 2px 5px;
    color: #111629;
    font-weight: bold;
    background: transparent url('images/ink-line.png') bottom repeat-x;
}
/* @end */

/* @group Search Results */
p.search-snippet strong {
    font-weight: normal;
    background-color: #fff4a5;
}
/* @end */


/* @group Nodes */
.node {
    clear: both;
    margin-bottom: 2em;
}

.teaser .content p { margin-bottom: 0; }

.readmore {  }

.teaser .content p+p { margin-top: 20px; }

h2.headline {
    display: block;
    font-size: 1.75em;
    margin-bottom: 0;
}

h2.headline a:link,
h2.headline a:visited,
h3.searchresult a:link,
h3.searchresult a:visited {
    color: #111629;
    font-weight: normal;
    text-decoration: none;
}

div#content-wrapper h2.headline a:hover,
div#content-wrapper h3.searchresult a:hover {
    color: #ba1704;
    font-weight: normal;
    text-decoration: none;
    background-image: none;
}

.node-author {
    color: #a8a095;
    font-size: 90%;
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
    background: transparent url('images/ink-line.png') bottom repeat-x;
}

.node .content img.user-picture {
    float: right;
    padding: 0 0 10px 10px;
}

.node .content {

    padding: 0;
    clear: both;
}

.meta {
    color: #a8a095;
    font-style: normal;
    font-size: 90%;
    text-align: left;
    padding: 0;
    margin: 2px 0 0 0;
}

.meta ul.inline,
.meta ul.inline li {
    display: inline;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.meta ul.inline li {
    background: transparent url('images/link-divider.png') center left no-repeat;
    padding-left: 14px;
    margin-left: 4px;
}

.meta ul.inline li.first {
    background: transparent;
    padding: 0;
    margin: 0;
}

.post-comment-help {
    color: #888;
    font-style: italic;
    font-size: 90%;
    text-align: right;
}
/* @end */

 /* @group Comments */
#comments {
    margin-bottom: 2em;
    padding: 0 1.5em 0 0;
}

h2.comments {
    background: transparent url('images/ink-line.png') bottom repeat-x;
    display:block;
    font-size:1.75em;
    margin-bottom: 20px;
}

div.comment {
    clear: both;
    margin: 0 0 2em 0;
}

div.comment div.content {
	
}

div#comments div.even,
div#comments div.odd {
    background-color: transparent;
}

div.comment div.content h3 {
    font-weight: normal;
    margin: 0;
}

div.comment div.content h3 a:link,
div.comment div.content h3 a:visited {
    color: #111629;
    font-weight: normal;
    text-decoration: none;
}

div.comment div.content h3 a:hover {
    color: #ba1704;
}

div.comment div.content p {
    margin: 0;
    padding: 0;
}

div.comment img.user-picture { 
    padding: 0 10px 5px 0;
    float: left;
}

div.comment div.content p+p { margin-top: 1.5em; }

div.comment-meta {
    color: #a8a095;
    font-size: 90%;
    margin: 5px 0 0 0;
    padding: 2px 0 0 0;
    background: transparent url('images/ink-line.png') top repeat-x;
}

div.comment-meta ul.links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.comment-meta ul.links li {
	display: inline;
	margin: 0 0 0 4px;
	padding: 0 0 0 14px;
	background: transparent url('images/link-divider.png') center left no-repeat;
}

div.comment-meta ul.links li.first {
    background: transparent;
    padding: 0;
    margin: 0;
}

em.moderation {
    background-color: #fffbcc;
    padding: 2px;
    border: 1px solid #e6db55;
}

#respond { font-weight: normal }

#comment-form-wrapper { margin: 0 1.5em 0 1.5em; }

#comments div.box h2 {
    display: block;
    font-size: 1.75em;
    margin-bottom: 0;
}

#comments div.box {
    margin-top: 10px;
}

#comment-controls {
    margin: 20px 0;
}
/* @end */

/* @group User Login Form */
#user-login-form ul  {
    margin: 0;
    padding: 5px 0;
} 

#user-login-form ul li {
    list-style-position: inside;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
}
/* @end */

/* @group Blocks (General) */
div.block h3, 
div.block-block h3 {
    background: transparent url('images/ink-line.png') bottom repeat-x;
    color: #111629;
    font-size: 1.33em;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 3px;
}

.block { margin-bottom: 1.5em }

.block ul.menu li ul.menu li { margin-left: 1em; }

.block ul.menu li ul.menu li.last, .block ul.menu li ul.menu li ul.menu li.last { border: 0; }

#block div .block .item-list ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}
/* @end */

/* @group Sub-Header Block Area */

#sub-header-container div .block {
    margin-top: 5px;
    margin-bottom: 10px;
}

#sub-header-container .block h3 {
    background: transparent url('images/ink-line-dark.png') bottom repeat-x;
}

#sub-header-container  a:link, #sub-header-container  a:visited {
    color: #fff3e1;
}

#sub-header-container  a:hover {
    color: #ba1704;
    text-decoration: none; 
}

/* @end */


/* @group Bottom Block Area */
#bottom .block h3 {
    background: transparent url('images/ink-line-dark.png') bottom repeat-x;
}

#bottom a:link, #bottom a:visited {
    color: #fff3e1;
}

#bottom a:hover {
    color: #ba1704;
    text-decoration: underline; 
}

#bottom div .block .item-list ul li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    list-style-position: outside;
    background: transparent url('images/ink-line-light.png') bottom repeat-x;
}

#bottom div .block .item-list ul li.last,
#bottom div .block .item-list ul li.views-row-last {
    background-image: none;
}

#bottom-search {
    margin-bottom:2em;
    margin-top: 2em;
}

#bottom .block label { font-weight: normal; }

#bottom div.block-search label { display: none; }
/* @end */

/* @group Footer */
#footer {
    color: #fff3e1;
    font-size: 90%;
    padding: 10px 10px 10px 10px;
}

.block-footer p { font-size: 90%; }
/* @end */

/* @group Maintenance Page */

body.in-maintenance div#page-content-band {
	padding-bottom: 10em;
}



/* @end */


