 *
 * @file text.css
 * Provides a baseline for Hiroshige's text styling.
 */

body { 
    font: 14px/1.5 'Palatino Linotype', Palatino, 'Times New Roman', Times, serif;
}

a:focus { outline: 1px dotted invert; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size:25px; }

h2 { font-size:23px; }

h3 { font-size:21px; }

h4 { font-size:19px; }

h5 { font-size:17px; }

h6 { font-size:15px; }

hr {
    border: 1px solid #ccc;
    clear: both;
    height: 0;
}

ol { list-style: decimal; }

ul { list-style: square; }

li { margin-left: 2em; }

dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 20px;
}

p+p {
    margin-top: 20px;
}
